body{
    background-color: peru;
}

h1{
    border: 5px solid black;
}

p{
    border: 5px solid black;
}

#witcher{
    background-color: chartreuse;
    padding: 5px;
    border: 2px solid black;
}

#league{
    background-color: darkgoldenrod;
    padding: 5px;
    border: 2px solid black;
}

#warcraft{
    background-color: cadetblue;
    padding: 5px;
    border: 2px solid black;
}

#dragon{
    background-color: crimson;
    padding: 5px;
    border: 2px solid black;
}